body {
    background-color: #D8D8D8 
}
h1 {
    margin: 5px 0px 40px 0px;
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Lobster Two', cursive;
    text-align: center;
}
div {
    background-color: white;
}
h2 {
    margin-left: 10px;
    font-size: 15px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Heebo', sans-serif;
    font-family: 'Kalam', cursive;
    font-family: 'Lobster Two', cursive;
    font-family: 'Poppins', sans-serif;
    
}
h2, span {
    display: inline-flex;
    margin-top: 10px;
    border-radius: 25px;
}
span {
    color: grey;
    font-size: 15px;
    text-align: right;
    margin-right: 10px;
    float: right;
}
.container1 {
    display: block;
    width: 500px;
    height: 500px;
    margin: auto;
    flex-direction: column;
    box-sizing: border-box;
}
img {
    width: 500px;
    height: 500px;
}
p {
    margin: 5px 10px 5px 10px
}
.tags {
    margin-bottom: 12px;
    padding-bottom: 10px;
    color:#2C3270;
}
